[Desktop Entry]
Type=Application
Name=UnbloatedTube
GenericName=YouTube client
Comment=Lightweight, configurable YouTube desktop client
Exec=unbloatedtube
Icon=unbloatedtube
Terminal=false
Categories=AudioVideo;Video;Player;Network;
Keywords=youtube;video;mpv;
StartupWMClass=unbloatedtube
